
body {
    font-family: Heebo;
    color: #21243D;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    max-width: 1152px;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 33px;
    padding: 27px 60px;
}

.nav__item {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #000;
    transition: 0.2s;
}

.nav__item:hover {
    text-decoration: none;
    color: #FF6464;
    
}

.hero {
    display: flex;
    align-items: center;
    max-width: 856px;
    width: 100%;
    min-height: 500px;
}

.hero__flex-box {
    display: flex;
    flex-direction: row;
}

.hero__text {
    display: flex;
    align-items: center;
}

.hero__text-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

h1 {
    font-size: 44px;
    font-weight: 700;
}

.hero__p {
    font-size: 16px;
    font-weight: 400;
}

.hero__button {
    width: 208px;
    height: 47px;
    border-radius: 2px;
    background: #FF6464;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: 0.4s;
}

.hero__button:hover {
    cursor: pointer;
    background: #fa2f2f;
    
}

.hero__img {
    width: 243px;
    height: 243px;
    aspect-ratio: 243 / 243;
    margin-left: 4rem;
    border-radius: 50%;
    box-shadow: -5px 10px rgb(213, 244, 255);
}

@media (max-width: 767px) {
    .hero__flex-box {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .hero__img {
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .hero__text-box {
        text-align: center;
        margin: 0 2rem;
    }
    .hero__button {
        align-self: center;
        margin-bottom: 4rem;
    }
}

.blog-posts__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-posts__heading-1 {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
}

.blog-posts__heading-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
    color: #00A8CC;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

@media (max-width: 767px) {
    .col-md-margin {
        margin: 8px;
    }

    .blog-posts__heading-1 {
        text-align: center;
    }

    .blog-posts__heading-2 {
        display: none;
    }

    .blog-posts__heading {
        justify-content: center;
    }
}

.blog-posts {
    background-image: url(assets/images/section-2-bg.png);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

.blog-posts-contents {
    max-width: 856px;
    width: 100%;
    padding-bottom: 2rem;
}

.blog-post {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 23px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

.blog__p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.blog-post__details {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
}

.divide-line {
    width: 1px;
    height: 20px;
    background: #21243D;
}

.works {
    max-width: 856px;
    width: 100%;
    padding-bottom: 2rem;
}

.works__heading {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    padding: 1rem 0px;
}

@media (max-width: 576px) {
    .row-sm-margin {
        margin: 8px;
    }
    .works__heading {
        text-align: center;
    }
}

.works-post {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.works-details {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.works__img {
    width: 100%;
}

.works-details__year {
    width: 62px;
    height: 25px;
    background: #142850;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

.works-details__p {
    color: var(--Light, #8695A4);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.works__divide-line {
    height: 1px;
    width: 100%;
    background: #E0E0E0;
    margin-top: 24px;
    margin-bottom: 24px;
}

footer {
    padding-top: 54px;
    padding-bottom: 54px;
}

.footer__logos {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.footer__p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2rem;
}